@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zap Trap | Bug Tracker</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">

    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">

    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />*@

    <!--Datatable & Plugins-->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- jsGrid -->
    <link rel="stylesheet" href="~/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/plugins/jsgrid/jsgrid-theme.min.css">

    <!-- Basic Plugins -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />

    <script src="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"></script>



</head>
<body>



    <main role="main">
        <div class="hold-transition register-page" style="background-image: URL('/img/AuraForestIllustration4k.jpg');

        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;">

            <!-- /.login-logo -->
            <div class="card card-outline card-purple" style="width:40rem; opacity:0.9">
                <div class="card-header text-center mb-3">
                    <img src="~/img/ZapTrapLargerLogo.png" class="embed-responsive" />
                    <h4>Welcome to Zap-Trap, an Issue-Tracking-System designed by Fullstack Web-Developer, Dan O'Malley</h4>
                </div>
                <div class="card-body">
                    <p>
                        Zap-Trap has Administrator, Project-Manager, Developer, and Submitter funtionality, allowing each role to interact with the ITS in different capacities.
                        Zap-Trap not only permits users to log defects found in their application systems, but affords them the ability to track progression until the issue is resolved.
                    </p>
                    <p>
                        Built in C# ASP.NET Core 5, Zap-Trap uses the MVC design pattern with Entity Framework.
                        The front-end of the application is constructed using HTML, CSS, Bootstrap 4, and Javascript,
                        while the database employs Postgres SQL serviced through PGAdmin, via Heroku.
                    </p>
                    <p>Click on the link in the bottom-left corner to log-in and demo the application or on the right to view my portfolio</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-info float-left" asp-area="Identity" asp-page="/Account/Login" asp-page="/Account/Login">Login</a>

                    <a class="btn btn-info float-right" href="https://danomalley.netlify.app/" target="_blank">Contact Me</a>
                </div>
                <!-- /.card-footer -->

            </div>
        </div>
    </main>

    <script src="~/js/jquery.min.js"></script> <!--Added-->
    <!-- jQuery UI 1.11.4 -->
    <script src="~/js/jquery-ui.min.js"></script> <!--Added-->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- jsGrid -->
    <script src="~/plugins/jsgrid/demos/db.js"></script>

    <script src="~/plugins/jsgrid/jsgrid.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/js/bootstrap.bundle.min.js"></script> <!--Added-->
    <!-- ChartJS -->
    <script src="~/js/Chart.min.js"></script> <!--Added-->
    <!-- Sparkline -->
    <script src="~/js/sparkline.js"></script> <!--Added-->
    <!-- JQVMap -->
    <script src="~/js/jquery.vmap.min.js"></script> <!--Added-->
    <script src="~/js/jquery.vmap.usa.js"></script> <!--Added-->
    <!-- jQuery Knob Chart -->
    <script src="~/js/jquery.knob.min.js"></script> <!--Added-->
    <!-- daterangepicker -->
    <script src="~/js/moment.min.js"></script> <!--Added-->
    <script src="~/js/daterangepicker.js"></script> <!--Added-->
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script> <!--Added-->
    <!-- Summernote -->
    <script src="~/js/summernote-bs4.min.js"></script> <!--Added-->
    <!-- overlayScrollbars -->
    <script src="~/js/jquery.overlayScrollbars.min.js"></script> <!--Added-->
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script> <!--Added-->
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>

   
</body>
</html>
