@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}




<div class="hold-transition register-page" style="background-image: URL('/img/Zap-Trap-Background.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;">

    <div class="login-box" style="opacity:0.9">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>ZAP-TRAP</b></a>
                <h4>Bug Tracker</h4>
                <hr />
                <h5>Forgot Password Confirmation</h5>
            </div>
            <div class="card-body">
                <p>Please check your email to reset your password.</p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
