<div class="card card-info">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <p>Warning! Demo Users Cannot Modify The Database. E-mail m.daniel.omalley@gmail.com to request further access.</p>
    </div>
    <div class="card-footer">
        <a class="btn btn-warning" asp-controller="Tickets" asp-action="Index">Back to Index</a>
    </div>
</div>